.container {
    display: flex;
    margin: auto;
    width: 500px;
    height: 500px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

